<!DOCTYPE html>
<html ng-app="mentio-demo">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
    <script src="dist/mentio.js"></script>
    <script src="scripts.js"></script>
</head>
<body ng-controller="mentio-demo-ctrl">
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="#">ment.io</a>
                <ul class="nav navbar-nav">
                    <li ng-class="{active: tab === 'examples' }"><a ng-href="#/examples">Demo</a></li>
                    <li ng-class="{active: tab === 'documentation' }"><a ng-href="#/documentation">Documentation</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div ng-view></div>

    <script type="text/ng-template" id="examples.html">
        <div class="container">
            <div class="row">
                <header class="text-center">
                    <h1 class="heading">Ment.io</h1>
                    <h6 class="text-muted">(Angular @mentions with macros)</h6>
                </header>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <h3>Content Editable:</h3>
                        <div contenteditable mentio
                            mtio-trigger-text="triggerText"
                            mtio-macros="macros" 
                            class="editor form-control" 
                            id="htmlContent" 
                            ng-model="htmlContent"
                            >
                            Try me @
                            <br>
                            or add a macro like brb, omw, (smile)
                        </div>
                        <span class="caption small">Mentioned: {{triggerText}}</span>
                    </div>

                    <mentio-menu 
                                mtio-for="'htmlContent'" 
                                mtio-trigger-char="'@'" 
                                mtio-items="people" 
                                mtio-template="/people-mentions.tpl"
                                mtio-search="searchPeople(term)" 
                                mtio-select="getPeopleText(item)"></mentio-menu>

                    <div class="form-group">
                        <h3>Text Area:</h3>
                        <textarea mentio

                                mtio-macros="macros" 
                                mtio-trigger-char="'@'" 
                                mtio-items="people" 
                                mtio-template="/people-mentions.tpl"
                                mtio-search="searchPeople(term)" 
                                mtio-select="getPeopleTextRaw(item)"
                                mtio-trigger-text="triggerText2"

                                class="form-control" 
                                id="theTextArea" 
                                ng-model="theTextArea" 
                                ng-trim="false" 
                                class="editor" 
                                rows="6">
                        </textarea>
                        <span class="caption small">Mentioned: {{triggerText2}}</span>
                    </div>

                    <mentio-menu 

                                mtio-for="'theTextArea'" 
                                mtio-trigger-char="'#'" 
                                mtio-items="products" 
                                mtio-template="/product-mentions.tpl"
                                mtio-search="searchProducts(term)" 
                                mtio-select="getProductTextRaw(item)"></mentio-menu>

                    <div class="form-group">
                        <h3>Text Input:</h3>
                        <input mentio 

                                ng-model="theText" 
                                id="theText" 
                                type="text" 
                                class="form-control" 
                                ng-trim="false" 
                                size="100"/>
                    </div>

                    <mentio-menu 
                                mtio-for="'theText'" 
                                mtio-trigger-char="'#'" 
                                mtio-items="products" 
                                mtio-template="/product-mentions.tpl"
                                mtio-search="searchProducts(term)" 
                                mtio-select="getProductTextRaw(item)"></mentio-menu>
                    <mentio-menu 
                                mtio-for="'theText'" 
                                mtio-trigger-char="'@'" 
                                mtio-items="people" 
                                mtio-template="/people-mentions.tpl"
                                mtio-search="searchPeople(term)" 
                                mtio-select="getPeopleTextRaw(item)"></mentio-menu>

                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/product-mentions.tpl">
        <ul class="list-group product-search">
            <li mentio-menu-item="product" ng-repeat="product in items" class="list-group-item clearfix">
                <div class="row">
                    <div class="col-xs-2 text-center">
                        <img ng-src="{{product._source.imageUrl}}" class="product-photo">
                    </div>
                    <div class="col-xs-10">
                        <h4 class="list-group-item-heading">{{product._source.title | words:5}}</h4>
                        <p class="list-group-item-text">{{product._source.description | words:7}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="/people-mentions.tpl">
        <ul class="list-group user-search">
            <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
                <img ng-src="{{person._source.imageUrl}}" class="user-photo">
                <span class="text-primary" ng-bind-html="person._source.name | mentioHighlight:triggerText:'menu-highlighted' | unsafe"></span>
                <em class="text-muted" ng-bind="person._source.bio | words:5"></em>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="documentation.html">
        <div class="container">
            <div class="row">
                <header class="text-center">
                    <h1 class="heading">Ment.io</h1>
                    <h6 class="text-muted">(Angular @mentions with macros)</h6>
                </header>
                <h3 class="section-heading">Overview</h3>
                The <code>mentio</code> directive is applied to any element that accepts text input and exposes an <code>ngModel</code>.  
                The <code>mentio</code> directive watches the <code>ngModel</code> of the element it is applied to and 
                responds to changes in the text by presenting typeahead menus for different trigger characters and macro 
                expansion for specified sequences of characters.
                <h3 class="section-heading">Directives</h3>
                <header class="documentation-element">
                    <code>
                    mentio
                    </code>
                </header>

                <p>The <code>mentio</code> directive is used as an attribute and requires a specification of which characters to 
                trigger on for typeahead selection, how to present the menu of choices, and behaviors to populate and ultimately select 
                an item from the menu based on user interaction.  The specification of options can either be done inline, within 
                the same element for one triggering character, or using a series of configurations if there are a multiple applicable 
                triggering characters.</p>

                <p>
                The following rules are applied when matching a well-formed typeahead phrase that should trigger a menu to display:
                <ul>
                    <li>A registered trigger character is present in the text preceding the current caret location</li>
                    <li>A space precedes the trigger character</li>
                    <li>The text following the trigger character contains no spaces up to the current caret location</li>
                </ul>
                When a match is found, the current text after the trigger character is assigned to the binding specified in the 
                <code>mtio-trigger-text</code> attribute if present.
                It is only possible for one trigger character to cause a menu to show at a time.  Also, only one menu will display on a given page
                at a time. 
                </p> 

                <p>To support macro expansion, a translation table to use for macros can be assigned through the <code>macros</code> 
                attribute which will expand typed sequences of characters into predefined strings of HTML or text. 
                </p>

                <h4 class="section-heading">Attributes</h4>
 
                <header class="text-primary documentation-attr">ng-model</header>
                <strong>Required.</strong> An <code>ngModel</code> is required on the element for mentio to be able to operate.

                <header class="text-primary documentation-attr">mtio-trigger-text</header>
                <strong>Optional.</strong> If specified, binds a scope property that will be assigned 
                the current value of the trigger text when the <code>mentio</code> menu is active.  

                <header class="text-primary documentation-attr">mtio-macros</header>
                <strong>Optional.</strong> Specifies a JSON map of macro translations.  The key should be a simple sequence of characters, not including spaces.  The key 
                will be matched case-insensitive.  When a match is detected, the value in the macro table will be expanded in place of the 
                macro the user typed.
                <p></p>
                An example from the sample demo in <code>scripts.js</code>:
                <p></p>
                <pre>
                    $scope.macros = {
                        'brb': 'Be right back',
                        'omw': 'On my way',
                        '(smile)' : '&lt;img src="http://a248.e.akamai.net/assets.github.com/images/icons/emoji/smile.png"' +
                                ' height="20" width="20"&gt;'
                    };</pre>

                <h4 class="section-heading">Provided Scope Properties</h4>

                <header class="text-primary documentation-attr">triggerText</header>
                The <code>triggerText</code> is bound to the text currently after the trigger char.  This can be referenced from within the
                <code>mentio-menu</code> template to highlight text when presenting menu items.

                <header class="documentation-element">
                    <code>
                    mentio-menu
                    </code>
                </header>
                <p>The <code>mentio-menu</code> element defines a menu for each a trigger 
                character that the <code>mentio</code> directive
                should respond to.  The <code>mentio-menu</code> identifies which <code>mentio</code> directive it is targeting
                by referring to the element <code>id</code> of the element containing the <code>mentio</code> directive. 
                </p>
                <p>Each menu must specify the trigger character, a data collection, 
                the template to use to render the menu, a search 
                function, and a select function.  Based on the specified attributes, 
                the specified menu will display whenever text in the target
                text element is changed.  </p>
                <h4 class="section-heading">Attributes</h4>
 
                <header class="text-primary documentation-attr">mtio-for</header>
                <strong>Required.</strong> The string literal <code>id</code> of the element containing a 
                <code>mentio</code> directive that this <code>mentio-menu</code> should attach to.

                <header class="text-primary documentation-attr">mtio-trigger-char</header>
                <strong>Required.</strong> The character that should trigger the menu behavior.  In the example, '@' and '#'s are used.

                <header class="text-primary documentation-attr">mtio-items</header>
                <strong>Required.</strong> The data list to bind the menu to.  This must be a reference to a value in current scope.  
                Since a <code>mentio-menu</code> has
                isolate scope, the list referenced by the <code>items</code> attribute will
                be passed down through the child scope contexts to the template used in the <code>mention-rule</code>, which then allows it to
                be refrenced in an angular expression that drives an <code>ng-repeat</code>.  Note the reference to <code>items</code> in 
                the example below.
                <p></p>
                <pre>
                &lt;mentio-menu mtio-for="'theText'" mtio-trigger-char="@" mtio-items="people" mtio-template="<b>/people-mentions.tpl</b>"
                             mtio-search="searchPeople(term)" mtio-select="getPeopleTextRaw(item)"&gt&lt;/mentio-menu&gt

                &lt;script type="text/ng-template" id="<b>/people-mentions.tpl</b>"&gt;
                    &lt;ul class="list-group user-search"&gt;
                        &lt;i mentio-menu-item="person" ng-repeat="person in <b>items</b>" class="list-group-item"&gt;
                            &lt;mg ng-src=" { {person._source.imageUrl} }" class="user-photo"&gt;
                            &lt;span class="text-primary" 
                                ng-bind-html="person._source.name | mentioHighlight:mentionText:'menu-highlighted' | unsafe">&lt;/span&gt;
                            &lt;em class="text-muted" ng-bind="person._source.bio | words:5">&lt;/em&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/script&gt;</pre>

                <header class="text-primary documentation-attr">mtio-template</header>
                <strong>Required.</strong>
                Specifies the id of a template to use to render the select menu.  The template should iterate the <code>items</code> list to
                present a menu of choices.  The <code>items</code> scope property from the <code>mentio-menu</code> is available to iterate
                within an <code>ng-repeat</code>. The <code>triggerText</code> scope property 
                from the <code>mentio-menu</code> can be accessed in order
                to highlight text in the menu.

                <header class="text-primary documentation-attr">mtio-search</header>
                <strong>Required.</strong>
                Specifies a function call to invoke when the trigger char has been entered into the target text element.  The currently active
                trigger text after the trigger char is bound as the <code>term</code> argument in the expression.  
                <p></p>
                The implementation of the search function should populate the data collection referenced by the <code>mtio-items</code> 
                attribute with data.  The scope property referenced by <code>items</code> can be a promise.  No return is expected from 
                the search fucntion.

                <header class="text-primary documentation-attr">mtio-select</header>
                <strong>Required.</strong>
                Specifies a function call to invoke when the user has picked an item in the menu.  The item in <code>mtio-items</code> 
                corresponding to the selected item in the menu is bound to the <code>item</code> parameter of the select function.  The
                select function must return a string to use to replace the current trigger char and mention text.  

                <h4 class="section-heading">Provided Scope Properties</h4>

                <header class="text-primary documentation-attr">items</header>
                The name <code>items</code> is made available within the scope of the <code>mentio-menu</code> template. It is a mapping
                from the <code>mtio-items</code> attribute specified on the <code>mentio-menu</code> or <code>mentio</code> directives.

                <header class="documentation-element">
                    <code>
                    mentio-menu-item
                    </code>
                </header>
                A <code>mtio-menu-item</code> must be contained within a <code>mentio-menu</code> template. 
                When applied to an element in this context, the <code>mentio-menu-item</code> directive will add or remove the
                class <code>active</code> to highlight an item in the menu when it is considered selected by the <code>mentio-menu</code>,
                including during mouse-enter events.  If the user
                clicks an element with the <code>mentio-menu-item</code> directive, the item corresponding to the currently
                active <code>mentio-menu-item</code> will be selected by invoking the <code>select</code> function provided in the
                <code>mtio-search</code> attribute of the <code>mentio-menu</code>.

                <h3 class="section-heading">Filters</h3>
                <header class="documentation-element">
                    <code>
                    mentioHighlight
                    </code>
                </header>
                A filter that can be used to replace text with a span having an arbitrary class.  The class must be passed as an extended
                second argument to the filter.  In the following example, text that matches the mentioned text after the trigger char will
                be replaced with a <code>span</code> element with the class <code>menu-highlighted</code>:

                <p></p>
                <pre>person._source.name | mentioHighlight:mentionText:'menu-highlighted'</pre>
                The filter is useful within the <code>mentio-menu</code> template when iterating the items in the select menu for the user 
                to pick.
               <p></p>
           </div>
        </div>
    </script>


    <a href="https://github.com/jeff-collins/ment.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    </div>
</body>

</html>
